body {
    margin: 0px;
    background-color: #edeff2;
}

input {
    text-align: center;
}

.form-option {
    cursor: default;
    text-decoration: underline;
}

#up-index {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 100%;
    font-size: 60px;
    border-bottom: 2px solid #000;
    background-color: #e4e6eb;
}

/* formularz 1 */
.form {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    margin-top: 1%;
}

#anwser {
    height: 14px;
    font-size: 14px;
    margin-top: -15px;
    font-weight: bold;
}

.check {
    width: 200px;
    height: 50px;
    margin: 1%;
    border-radius: 50px;
    background-color: #000;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.submit {
    border-radius: 150px;
    width: 40%;
}

.reset {
    border-radius: 150px;
    width: 40%;
    margin-left: 5px;
}